
/*******************
  BASE SETUP
*******************/

.container {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	height: 100vh;
    max-width: 1920px;
	overflow: hidden;
}

p {
	color: #fff;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 40px;
	text-align: center;
	margin: 0;
	line-height: 50px;
/*x*/

}

/*******************
  ROWS
*******************/

.game-container {
    margin: 50px 50px;
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.box {
	width: 10%;
	float: left;
	margin-right: 1%;
	border-radius: 15px;
	border: 3px solid #FFFFFF;
	margin-bottom: 2%;
}

.box2 {
	float: left;
	margin-right: 1%;
	border-radius: 15px;
	border: 3px solid #FFFFFF;
	margin-bottom: 2%;
}

.row:nth-child(3) 
.box {
    margin-bottom: 0;
}

.box img {
	max-width: 100%;
	vertical-align: bottom;
}

.background-blue {
	background-color: #233369;
}

.background-red {
	background-color: #e0595e;
}

.background-jade {
	background-color: #1b998b;
}

.background-yellow {
	background-color: #ffe66b;
}

/*******************
  MAIN CARD
*******************/

.main-container {
	display: flex;
	flex-direction: column;	
}

.flip_card {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.main_container.active .flip_card {
    transform: rotateY(180deg);
}
.front-card{
    backface-visibility: hidden;
    border-radius: 15px;
    border: 3px solid #FFFFFF;
    right:0;
    top: 150px; 
	margin: 0 10px;
	width: 250px;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.active .main-card {
    opacity: 1;
}

.main-card {
/*    width:17%;*/
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 1s;
}

.back-card{
	width:150px;
}

/*******************
  QUESTIONS
*******************/

.questions {
	position: relative;
	width: 92%;
    margin: 55px auto;
    white-space: nowrap;
}

.questions p:not(:first-child) {
	display: none;
}

.questions p{
	display: inline-block;
	width: 300px;
}

.questions img {
	width: 4%;
	float: left;
	margin-right: 2%;
}

.banner img {
	width: 55%;
}

.dead
{
opacity: 0.2;
    filter: alpha(opacity=20); /* msie */
}